::before::after{
    box-sizing: border-box;
}

body{
    background-color:rgba(255, 192, 203, 0.084);
    word-spacing: 2px; 
    letter-spacing:  2px; 
    font-family:  'Courier New', Courier, monospace;
    font-size: medium;
}

.brand-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
    list-style: none;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 15%;
    padding: 10px;
    border: 1px solid #5555FF;
    gap: 20px;
}

.logo{
   border-right: 1px solid #DDDDDD;
   padding-right: 5px;
    
}
li{
    list-style: none;
}

.social-container{
    display: block;
    align-items: center;
    flex: auto;
    list-style: none;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
   
    height: 15%;
    padding: 10px;
    border: 1px solid #5555FF;
}


.social-media-container{
    display: inline-flex;
    gap: 40px;
    align-items: center;
    flex:auto;
    
}

.logo{
    margin-right: auto;
}


.recipe-categories-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    padding: 10px;
    color:black;
    border-bottom: 1px solid #5555FF;
    height: 15%;
    margin-top: 20px;
    margin-bottom: 80px;
}



.menu{
    margin-left: auto;
}


.menu, .categories{
    list-style: none;
    color: grey;
    text-decoration: none;
}
      
 .menu:hover {
    color: darkgrey;
      }
      
.recipes{
    font-family:  fantasy;
    font-size: medium;
    font-weight: 600;
    list-style: none;
    word-spacing: 1,5px;
    letter-spacing:  2px; 
     
}

.recipe-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

img{
    border-radius: 2em;
    border: 2px solid rgb(4, 4, 162);
    
}

.with-picture{
    font-family: slab serif, script, 'Courier New', Courier, monospace;
    font-size: small;
    align-content:left;
}
 
.recipe-container{
    text-align: center;
}