body{
    background-color:rgba(255, 192, 203, 0.084);
    box-sizing: border-box;
    word-spacing: 2px; 
    letter-spacing:  2px; 
    font-family:  fantasy;
}

li{
    list-style: none;
}

.social-container{
    display: block;
    align-items: center;
      flex: auto;
    list-style: none;
    
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 15%;
    padding: 15px;
    border: 1px solid #5555FF;
}

.social-media-container{
    display: inline-flex;
    gap: 40px;
    align-items: center;
    flex:auto
}

.logo{
    margin-right: auto;
    font-family: fantasy;
    word-spacing: 2px; 
    letter-spacing:  2px; 
    font-size: small;
    font-weight:bolder;
    color:#000
}


.recipe-categories-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    padding: 0;
    color:black;
    border-bottom: 1px solid #5555FF;
    margin-bottom: 40px;
    height: 15%;
}

.web-site-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight:bold;
    margin: 0;
}


.menu{
    margin-left: auto;
}

.menu, .categories{
    list-style: none;
    color: grey;
    text-decoration: none;
}
      
 .menu:hover {
    color: darkgrey;
      }
      
.recipes{
    font-family:  fantasy;
    font-size: medium;
    font-weight: 600;
    list-style: none;
    word-spacing: 1,5px;
    letter-spacing:  2px; 
     
}

.recipe-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

img{
    border-radius: 2em;
    border: 2px solid rgb(4, 4, 162);
    
}

.with-picture{
    font-family: slab serif, script, 'Courier New', Courier, monospace;
    font-size: small;
    align-content:left;
}
 