::before::after{
    box-sizing: border-box;
    
}

body{
    background-color:#FFFFFF;
    word-spacing: 2px; 
    letter-spacing:  2px; 
    font-family:  'Courier New', Courier, monospace;
    font-size: medium;
}

.main-social-container{
    display: block;
    align-items: center;
    flex: auto;
    list-style: none;
    max-width: 100%;
   background-color: honeydew; 
}

.sub-social-media-container{
    display: inline-flex;
    gap: 40px;
    align-items: center;
    flex:auto;
}
.container-for-three-socials-only{
    
   
}
.social-media{
    margin-left:
}
   
#Eiffel-Tower{
    border: none;
    margin-right: 100%;
}
.brand-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
    list-style: none;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    gap: 20px;
}

.logo{
    border-right: 1px solid #DDDDDD;
    padding-right: 5px;
    margin-right: auto;  
 }
.web-site-name{
     font-family: fantasy;
     color:cadetblue;
}

#Eiffel-Tower{
    border: none;
    margin-right: 90%;
}
.recipe-categories-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    padding: 10px;
    
    margin-top: 20px;
    margin-bottom: 80px;
}

li{
    list-style: none;
}


.menu, .categories{
    list-style: none;
    color: grey;
    text-decoration: none;
}

.menu{
    margin-left: auto;
}     
 .menu:hover {
    color: darkgrey;
      }
  
img{
    border-radius: 2em;
    border: 2px solid #DDDDDD;   
}
